
body 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    margin: 0
    padding: 0
    font-size: 90%


#layout-header 
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;

    a 
        text-decoration: initial;
        color: white;

#layout-body 
    padding: 0 10px 0 10px;

h1 
    margin: 0;
    padding: 0;

.set-symbol-16 
    max-height: 16px;

.hidden
    display: none

.setView
    $cardViewPanelWidth = 300px
    $topPanelHeight = 65px

    .cardlist-container 
        box-sizing: border-box
        border-top: 1px solid #eee
    
    .cardlist-tablecontainer 
        width: "calc(100vw - (%s + 10px))" % $cardViewPanelWidth
        overflow: scroll
        height: "calc(100vh - %s)" % $topPanelHeight
        box-sizing: border-box
    
        .cardlist-table 
            display: table
            width: 100%

            & > div
                display: table-row

                & > div
                    display: table-cell
                    border-bottom: 1px solid #eee

    
    .cardlist-cardview 
        position: absolute
        top: $topPanelHeight
        right: 0
        bottom: 0
        width: $cardViewPanelWidth
        overflow: scroll
        box-sizing: border-box
        padding: 10px
        background-color: #eee

        &-imagecontainer
            width: 250px
            height: 354px
            background-image: url(http://mtgimage.com/card/cardback.jpg)
            background-size: contain
            margin-left: auto
            margin-right: auto
        &-image
            width: 250px
    
    .cardrow-selected 
        background-color: #ccc
    
    .setselector-changebutton
        font-size: 50%
        vertical-align: text-top
        padding-top: 4px
        cursor: pointer

    .setselector-panel
        position: absolute
        width: 300px
        height: 500px
        background-color white
        border: 1px solid #eee
        overflow: scroll
        box-sizing: border-box
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        &-item
            display: table-row
            cursor: pointer

            & > div
                display: table-cell
                padding-left: 10px

