<div class="cardlist-header">
    <div class="setselector">
        <span class="setselector-setname">
            {{set.name}} 
        </span>
        <span class="setselector-changebutton"><i class="fa fa-chevron-down"></i></span>
    </div>
</div>
<div class="cardlist-container">
    <div class="cardlist-tablecontainer">
        <div class="cardlist-table"></div>
    </div>
    <div class="cardlist-cardview"></div>
</div>

<script type="text/javascript">
var CardListView = Backbone.View.extend({
    initialize: function() {
        this.selected = null;
        this.selectedIndex = -1;
        this.cardViews = [];

        application.keyboard.on('keydown', function(e) {
            var adjustment = 0;
            if (e.which === 40 && this.selectedIndex + 1 <= this.collection.length) {
                adjustment = 1;
            } else if(e.which === 38 && this.selectedIndex - 1 >= 0) {
                adjustment = -1;
            }

            if (adjustment !== 0) {
                e.preventDefault();
                e.stopPropagation();
                this.selectByIndex(this.selectedIndex + adjustment);
            }
        }, this);
    },
    destroy: function() {

    },
    render: function() {
        var fragment = document.createDocumentFragment();
        this.cardViews = [];
        this.selectedIndex = -1;
        this.collection.each(function(card, index){
            var childView = new CardListItemView({model: card}).render();
            childView.$el.appendTo(fragment);
            childView.on('selected', function() {
                this._select(childView, index);
            }, this);
            this.cardViews.push(childView);
        }, this);
        this.$el.empty().append(fragment);
        return this;
    },
    selectByIndex: function(index) {
        var cardView = this.cardViews[index];
        this._select(cardView, index);
        cardView.el.scrollIntoView();
    },
    _select: function(cardView, index) {
        // unselect the previous
        if(this.selected) {
            this.selected.unselect();
        }
        cardView.select({trigger: false});

        this.selected = cardView;
        this.selectedIndex = index;
        application.vent.trigger('card:show', {
            card: cardView.model
        });
    },
    setCollection: function(collection) {

        this.collection = collection;
        this.render();

        // scroll the cardView to the first card
        if (this.cardViews.length > 0) {
            this.cardViews[0].el.scrollIntoView();
        }

    }
});
var CardListItemView = Backbone.View.extend({
    className: 'cardrow',
    events: {
        'click': '_onSelected'
    },
    render: function() {
        this.$el.empty();
        $('<div>')
            .text(this.model.get('name'))
            .appendTo(this.$el);

        $('<div>')
            .text(this.model.get('type'))
            .appendTo(this.$el);

        var $manaCostContainer = $('<div>')
            .appendTo(this.$el);

        _.each(this.model.get('manaCost').parts, function(partValue) {
            $('<img>')
                .attr({
                    'src': 'http://mtgimage.com/symbol/all/' + partValue.replace('/', '') + '/16.png',
                    'title': partValue,
                    'alt': partValue
                })
                .appendTo($manaCostContainer);
        });

        return this;
    },
    unselect: function() {
        this.$el.removeClass('cardrow-selected')
    },
    select: function(options) {
        this.$el.addClass('cardrow-selected');
        if (options === undefined || (options && options.trigger)) {
            this.trigger('selected');
        }
    },
    _onSelected: function(e) {
        e.stopPropagation();
        e.preventDefault();
        this.select();
    }
});

/**
 * View of the card that is currently selected
 */
var CardView = Backbone.View.extend({
    render: function() {
        this.$el.empty();

        var $cardImageContainer = $('<div>')
            .addClass('cardlist-cardview-imagecontainer')
            .appendTo(this.$el);

        $('<img>')
            .addClass('cardlist-cardview-image')
            .attr({
                src: this.model.get('fullImageUrl'),
                title: this.model.get('name')
            })
            .appendTo($cardImageContainer);
        return this;
    }
});

var SetSelectorListItemView = Backbone.View.extend({
    tagName: 'div',
    className: 'setselector-panel-item',
    events: {
        'click': '_onSelected'
    },
    render: function() {
        var $imgCell = $('<div>')
            .addClass('setselector-panel-item-symbol')
            .appendTo(this.$el);

        $('<div>')
            .addClass('set-symbol')
            .addClass('set-symbol-16')
            .addClass('set-symbol-' + this.model.get('code'))
            .appendTo($imgCell);

        $('<div>')
            .text(this.model.get('name'))
            .appendTo(this.$el);

        return this;
    },
    _onSelected: function(e) {
        e.stopPropagation();
        e.preventDefault();
        this.trigger('selected')
    }
});

var SetSelectorView = Backbone.View.extend({
    events: {
        'click .setselector-changebutton': 'togglePanelDisplay'
    },
    initialize: function() {
        this.panelVisible = false;
    },
    render: function() {
        this.$panel = $('<div>')
            .addClass('setselector-panel')
            .addClass('hidden')
            .appendTo(this.$el);
        var containerView = this;

        var fragment = document.createDocumentFragment();
        var $setContainer = $('<div>')
            .css({
                'display': 'table',
                'width': '100%'
            })
            .appendTo(fragment);
        this.collection.each(function(set) {
            var listItemView = new SetSelectorListItemView({
                model: set
            }).render();
            listItemView.$el.appendTo($setContainer);
            listItemView.on('selected', function() {
                containerView._selectSet(set);
            });
        });
        this.$panel.append(fragment);

        return this;
    },
    rerenderPanel: function() {
        if (this.panelVisible === true) {
            this.$panel.removeClass('hidden');
        } else {
            this.$panel.addClass('hidden');
        }
        return this;
    },
    togglePanelDisplay: function(e) {
        e.preventDefault();
        e.stopPropagation();
        if (this.panelVisible === true) {
            this.panelVisible = false;
        } else {
            this.panelVisible = true;
        }
        this.on('panelVisible:change');
        this.rerenderPanel();
    },
    _selectSet: function(set) {
        // hide the panel
        this.panelVisible = false;
        this.rerenderPanel();

        // update the selected set
        this.$('.setselector-setname').text(set.get('name'));

        application.vent.trigger('change:set', {
            set: set
        });
    }
});

var application = {};
application.vent = _.extend(Backbone.Events);
application.keyboard = _.extend(Backbone.Events);

(function(){
    var cardsArray = {{{cardsAsJson}}},
        cardsCollection = new Backbone.Collection(cardsArray),
        setsArray = {{{setsAsJson}}},
        setsCollection = new Backbone.Collection(setsArray);

    $(document).keydown(function(e) {
        application.keyboard.trigger('keydown', e);
    });

    var setSelectorView = new SetSelectorView({
        el: $('.setselector'),
        collection: setsCollection
    }).render();

    var view = new CardListView({
        el: $('.cardlist-table'),
        collection: cardsCollection
    }).render();

    application.vent.on('card:show', function(options) {
        var cardView = new CardView({
            el: $('.cardlist-cardview'),
            model: options.card
        }).render();
    });
    application.vent.on('change:set', function(options) {
        $.getJSON('/sets/' + options.set.get('code') + '/cards.json')
            .done(function(data, success, xhr) {
                var cardCollection = new Backbone.Collection(data);
                view.setCollection(cardCollection);
            });
    });
})();
</script>